body {
	background-image: url('adven.jpg');
	font-family: sans-serif;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
}
#bijl3 {
	margin-top: 410px;
	margin-right: 60px;
	margin-left: 350px;
	visibility: ;
	position: fixed;
	
}
#bijl3:hover {background-color: #black;}
#bijl3:active {
background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#level_title {
	visibility: hidden;
	font-size: 18px;
	color:  ;
	font-weight: bold;	
	margin-left: 400px;
}

#level_image {
	height: 500px;
	width: 700px;
	margin-left: 290px;
	border: 4px solid silver;
	display: inline-flex;

}
w3-container {
	
}
div.container {
	margin-left: 100px;
	width: 80%;
}
.custom {
   cursor: url(img/cursor.jpg), auto;
}

nav {
	margin-left: 400px;
	 
}
#option1 {
	padding: 10px ,10px ,10px ,10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 40px;
	color: ;
	background-color: forestgreen;
	float: left;
	margin-left: -300px;
	margin-top: 100px;
} 
#option2 {
	padding: 10px ,10px ,10px ,10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 40px;
	color: ;
	background-color: forestgreen;
	float: left;
	margin-top: 150px;
	margin-left: -300px;
} 
#option3 {
	padding: 10px ,10px ,10px ,10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 40px;
	color: ;
	background-color: forestgreen;
	float: left;
	margin-left: -300px;
	margin-top: 250px;
} 
#fullscreen {
	padding: 10px ,10px ,10px ,10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 40px;
	color: ;
	background-color: forestgreen;
	float: left;
	margin-left: -300px;
	margin-top: 200px;
} 

#axe {
	margin-left: 760px;
	margin-top: -400px;
	visibility: hidden;
}	
#optie {
	
	margin-right: 400px;
	margin-left: 388px;
	width: 620px;
  
  padding:15px 45px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: ; 
  background-color: #4CAF50;
  border: 4px solid black;
  border-radius: 15px;
}
#optie:hover {background-color: #3e8e41}
#optie:active {
background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#option1  {
  padding:5px 25px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: 2px solid silver;
  border-radius: 15px;
}

#option1:hover {background-color: #3e8e41}

#option1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#option2 {
  padding: 5px 5px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: 2px solid silver;
  border-radius: 15px;

}

#option2:hover {background-color: #3e8e41}

#option2:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#option3 {
  padding: 5px 5px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: 2px solid silver;
  border-radius: 15px;

}

#option3:hover {background-color: #3e8e41}

#option3:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#fullscreen {
  padding: 5px 5px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: 2px solid silver;
  border-radius: 15px;

}

#fullscreen:hover {background-color: #3e8e41}

#fullscreen:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}